<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deltech"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
           
          </activity>
          <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
    	<activity
            android:name=".Student_login"
            android:label="@string/student_login_label">
        </activity>    
        <activity
            android:name=".Faculty_login"
            android:label="Faculty Login">
        </activity>    
         <activity
            android:name=".Student_attendance"
            android:label="@string/attendance_label">
        </activity>    
         <activity
            android:name=".Student_profile"
            android:label="@string/student_profile_label">
        </activity>  
        <activity
            android:name=".Student_messages"
            android:label="@string/student_messages_label">
        </activity> 
        <activity
            android:name=".Student_course_details"
            android:label="@string/course_subjects_label">
        </activity>
        <activity
            android:name=".Student_timetable"
            android:label="@string/course_subjects_label">
        </activity>
         <activity
            android:name=".Student_timetable_day"
            android:label="@string/course_subjects_label">
        </activity>
        
        <activity
            android:name=".Subject_chapters_list"
            android:label="@string/course_subjects_label">
        </activity>  
        <activity
            android:name=".Subject_attendance"
            android:label="@string/course_subjects_label">
        </activity> 
                    
        <activity
            android:name=".Faculty_profile"
            android:label="@string/faculty_profile_label">
        </activity> 
        <activity
            android:name=".Faculty_attendance"
            android:label="@string/attendance_label">
        </activity>
        <activity
            android:name=".Faculty_class_details"
            android:label="@string/course_subjects_label">
        </activity>
        <activity
            android:name=".Faculty_timetable"
            android:label="@string/student_timetable_header">
        </activity>
        <activity
            android:name=".Faculty_timetable_day"
            android:label="@string/faculty_timetable_day">
        </activity>
        <activity
            android:name=".Take_attendance"
            android:label="@string/mark_attendance">
        </activity>
        <activity
            android:name=".Study_materials"
            android:label="Study Materials">
            
        </activity>
         
    </application>

</manifest>